SampleRestService/Resources/RestReference.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns0="http://www.example.org" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="RestReference">RestReference</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.example.org" schemaLocation="SampleXSD.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/getPartyStatus">
         <method name="GET" soa:wsdlOperation="getOperatio">
            <request soa:paramElement="pns:PartyRequest" xmlns:pns="http://www.example.org">
               <param name="partyName" style="query" soa:expression="$msg.request/ns0:partyName" type="xsd:string"/>
               <param name="partyId" style="query" soa:expression="$msg.request/ns0:partyId" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:PartyResponse" xmlns:cns="http://www.example.org"/>
               <representation mediaType="application/json" element="cns:PartyResponse" xmlns:cns="http://www.example.org"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
