SampleRestService/Resources/RestReference.wsdl

<wsdl:definitions name="RestReference" targetNamespace="http://xmlns.oracle.com/R1.3SBApplication/SampleRestService/RestReference" xmlns:tns="http://xmlns.oracle.com/R1.3SBApplication/SampleRestService/RestReference" xmlns:inp1="http://www.example.org" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="RestReference">
        <plnk:role name="RestReferenceProvider" portType="tns:RestReference_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.example.org" schemaLocation="SampleXSD.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Operation1_inputMessage">
        <wsdl:part name="request" element="inp1:PartyRequest"/>
    </wsdl:message>
    <wsdl:message name="Operation1_outputMessage">
        <wsdl:part name="reply" element="inp1:PartyResponse"/>
    </wsdl:message>
    <wsdl:message name="getOperatio_inputMessage">
        <wsdl:part name="request" element="inp1:PartyRequest"/>
    </wsdl:message>
    <wsdl:message name="getOperatio_outputMessage">
        <wsdl:part name="reply" element="inp1:PartyResponse"/>
    </wsdl:message>
    <wsdl:portType name="RestReference_ptt">
        <wsdl:operation name="Operation1">
            <wsdl:input message="tns:Operation1_inputMessage"/>
            <wsdl:output message="tns:Operation1_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="getOperatio">
            <wsdl:input message="tns:getOperatio_inputMessage"/>
            <wsdl:output message="tns:getOperatio_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RestReference_ptt-binding" type="tns:RestReference_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation1">
            <soap:operation soapAction="Operation1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOperatio">
            <soap:operation soapAction="getOperatio"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>